.pagination{
    height: 38px;
    display: flex;
    width: fit-content;


    ul, .button{
        margin: auto;
    }

    .button{
        width: 38px;
        height: 38px;
        position: relative;
        border-radius: 10px;
        background-color: #eeeeee;
        transition: all .3s ease-in-out;

        .btn-img{
            left: 0;
            right: 0;
            top: 5px;
            bottom: 0;
            margin: auto;
            position: absolute;
            width: fit-content;
            height: fit-content; 

            img{
                width: 15px;
                height: 15px;
            }
        }

        
    }

    .button.active{
        cursor: pointer;
        background-color: #000000;
    }

    ul{
        display: flex;
        padding: 0px 10px;
        width: fit-content;
        height: fit-content;
        flex-direction: row;
        list-style-type: none;

        li{
            cursor: pointer;
            color: #cccccc;
            padding: 2px 10px;
            border-radius: 5px;
            font-family: Mark-Pro-Medium;
            background-color: transparent;
            transition: all .3s ease-in-out;

            &:hover{
                background-color: #eeeeee;
            }
        }

        li.active{
            color: #000000;
        }
    }
}