.search-result{
    width: 100%;
    height: 100%;
    position: absolute;

    .data-container{
        display: flex;
        padding: 0px 200px;
        margin: 110px auto 0px auto;

        .results{
            padding-left: 330px;
            flex: 1;

            .pagination-content{
                width: fit-content;
                margin: 50px 0px 50px auto;
            }
        }
    }
}


@media screen and (max-width: "480px") {
    .search-result .data-container{
        padding: 0px;
        display: block;
        margin-top: 70px;

        .results{
            width: auto;
            margin: 20px;
            padding: 0px;

            .pagination-content{
                margin: 30px auto;
            }
        }
    }
}