Button{
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
    width: fit-content;
    border-color: unset;
    height: fit-content;
    background-color: #000000;
    font-family: Mark-Pro-Medium;
    transition: all .3s ease-in-out;

    &:hover{
        background-color: #434242;
    }
}