.profile-menu{
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: row-reverse;

    div, svg, img{
        margin: auto;
    }

    .menu{
        height: 20px;
        margin-left: 10px;
        width: fit-content;
        position: relative;

        svg{
            height: 20px;
            cursor: pointer;
        }

        .card{
            right: 0;
            // top: 40px;
            top: 50px;
            opacity: 0;
            z-index: 1;
            margin: 0px;
            width: 200px;
            padding: 10px 0px;
            position: absolute;
            border-radius: 10px;
            height: fit-content;
            list-style-type: none;
            background-color: #fff;
            transition: all .3s ease-in-out;
            box-shadow: 0px 0px 2px 0px #00000029;

            li{
                cursor: pointer;
                background-color: #ffffff;
                padding: 10px 10px 10px 20px;
                border-bottom: 1px solid #eee;
                transition: all .3s ease-in-out;

                &:hover{
                    background-color: #f2f2f2;
                }

                &:last-child{
                    border: none;
                }

                p{
                    margin: 0px;
                    font-size: 16px;
                    text-align: left;
                    font-family: Mark-Pro-Medium;
                }
            }
        }
    }

    .profile{
        display: flex;
        width: fit-content;
        height: fit-content;

        img{
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 100%;
        }

        p{
            font-size: 18px;
            margin-left: 10px;
            font-family: Mark-Pro-Medium;
        }
    }
}

@media screen and (max-width: "480px") {
    .profile-menu .profile{
        
        p{
            display: none;
        }

        img{
            width: 30px;
            height: 30px;
        }
    }
}