ul{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: fit-content;
    list-style-type: none;

    .app-card{
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 15px;
        height: fit-content;
        box-shadow: 0px 0px 20px 0px #0000000f;

        &:last-child{
            margin-bottom: 0px;
        }

        p{
            margin: 0px;
            text-align: left;
        }
    }

    .user-card .card-top{
        width: 100%;
        margin-bottom: 10px;
        display: inline-flex;

        p{
            margin: 0px;
            line-height: 1;
            margin: auto 0px;
            text-align: left;
        }
    }
}



.navigation-card{
    margin: 0px;
    padding: 20px;
    position: fixed;
    max-width: 300px;
    border-radius: 5px;
    height: fit-content;
    list-style-type: none;
    box-shadow: 0px 0px 20px 0px #0000000f;

    li{
        display: flex;
        cursor: pointer;
        margin-bottom: 5px;
        flex-direction: row-reverse;
        padding: 10px 10px 10px 20px;
        background-color: transparent;
        transition: all .3s ease-in-out;

        &:last-child{
            margin-bottom: 0px;
        }

        &:hover{
            background-color: #eeeeee80;
        }

        p{
            width: 100%;
            margin: auto 0;
            text-align: left;
            font-family: 'Mark-Pro-Medium' !important;
        }

        .bubble{
            padding: 3px 7px;
            border-radius: 20px;
            background-color: #cccccc;

            p{
                font-size: 12px;
                font-family: 'Mark-Pro-Medium';
            }
        }
    }

    li.active{
        background-color: #eeeeee;
    }
}

@media screen and (max-width: "480px"){
    .navigation-card{
        display: flex;
        position: unset;
        max-width: unset;
        box-shadow: unset;
        padding: 10px 20px;
        width: fit-content;

        li{
            min-width: 100px;
            border-radius: 10px;
            padding: 10px 10px 10px 10px;

            p{
                margin-right: 20px;
            }

            .bubble{
                height: fit-content;
                
                p{
                    margin-right: 0px;
                }
            }
        }
    }
}