.login-container{
    width: 100vw;
    height: 100vh;

    .login{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        margin: auto;
        position: absolute;
        height: fit-content;

        .Button{
            width: 100%;
            margin: auto;
            margin-top: 30px;
        }
    }
}